background{
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  }
.herb1
{
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.arrow
{
  position: absolute;
  top: 500px;
  right: 60px;
}